<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Raza</th>
      <th>Zona</th>
      <th>Any naixement</th>
      <th>Cuidador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.nom %></td>
        <td><%= animal.raza %></td>
        <td><%= animal.zona %></td>
        <td><%= animal.any_naixement %></td>
        <td><%= animal.cuidador %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
