<div class="container">
  <div class="well">
    <%= link_to "New Animal", new_animal_path, class: "btn btn-primary" %>
  </div>
  <div class="new-animal"></div>

  <p>Buscador Animals</p>
  <%= form_tag(animals_path, method: :get, remote: true) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Raza</th>
        <th>Zona</th>
        <th>Any naixement</th>
        <th>Cuidador</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="animal-index">
    <p id="valueFiltre"></p>

      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="animal-modal" class="modal fade"></div>
